onsaleicon{width:50px;height:50px;line-height:50px;top:0px;right:0px;background-color:#e74c3c;backface-visibility:hidden;background-clip:padding-box;font-size:14px;color:#fff;text-align:center;display:block;overflow:hidden;z-index:1;position:absolute}
.onsaleicon.new{background-color:#fff;color:#323237}
.onsaleicon.hot{background-color:#323237}

.index-insta-header{padding:0px;margin:0;position:relative;display:table;margin:auto auto} 
.index-insta-line{display:inline-block;background-color:#000000;height:1px;width:60px;position:absolute;top:15px;}
.index-insta-header .index-insta-line:first-child{right:-75px}.index-insta-header .index-insta-line:last-child{left:-75px}

@media only screen and (min-width:993px){.mega-dropdown{width:400px;} .header-logo{top:25px;!important; } .header-social-icon{top:-4px;!important;}}
@media only screen and (max-width:993px){.header-logo{top:10px;!important;} .index-main-slider{min-height:100px;!important; max-height:200px;!important} .index-resp-container{padding:20px;!important!} .header-height{min-height:45px;} .brand-section{padding-bottom:45px}}
@media screen and (max-width:767px){.footer-align{text-align:center} .header-height{min-height:45px;} .brand-section{padding-bottom:45px}}


/*@media (max-width:650px){.section-title .line{display:none}*/